<?xml version="1.0" encoding="utf-8"?>


<hibernate-configuration>
    <session-factory>

        <!-- Database Connection Settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/otp</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Anjali@2004</property>

        <!-- Hibernate Properties -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>  <!-- Automatically updates schema -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.connection.pool_size">20</property>

    </session-factory>
</hibernate-configuration>
